<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <!-- <h1><%= title %></h1> -->
    
    <div id="container">
      <div id="header">
        <p id="header-title"><%= title %></p>
        <div id="links">
          <a class="nav-link" href="/">Home</a>
          <a class="nav-link" href="/">Genres</a>
          <a class="nav-link" href="/">Add Film</a>
        </div>
      </div>
      <div id="film-list">
        <p>films go here</p>
      </div>
    </div>

  </body>
</html>
